<% if(success && success.length) { %>
    <div class="flash-wrap">
        <div class="alert alert-success flash-alert">
            <%= success[0] %>
        </div>
    </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="flash-wrap">
    <div class="alert alert-danger flash-alert">
      <%= error[0] %>
    </div>
  </div>
<% } %>
