<% if(success && success.length) { %>
    <div class="alert alert-success col-7 offset-3">
        <%= success[0] %>
    </div>
<% } %>

<!-- <% if (error && error.length > 0) { %>
  <div class="alert alert-danger col-7 offset-3">
    <%= error[0] %>
  </div>
<% } %> -->