<%- layout("/layouts/boilerplate") %>
<body>
    <h3>All Villagers</h3>
    <% for(user of users) { %>
        <ul>
            <li><a href="/users/<%= user._id %>"><%= user.name %></a></li>
        </ul>
    <% } %>
    <!-- <form method="get" action="/addUser" enctype="multipart/form-data">
        <button>Add user</button>
    </form> -->
    
</body>